#home {
    text-align: center;
}
.sub {
     background-color: bisque;
     display:inline-block;
     width: 33%;
     text-align: center;
    }
    h1 {
        color: maroon;
        text-align: center;
    }
    p{
        font-size: large;
    }
    #header{
      font-size: 50px;
      background-color: rgb(143, 143, 247);
      margin: 50px;
      padding: 30px;
      border:crimson solid;
     
    }
    td, th {
        border: solid black 2px  ; 
        padding: 20px;
    }
    table{
        border-collapse: collapse;
    }
    th{
        background-color: aqua;
    }
    td{
        background-color: rgb(95, 134, 219);
    }